In [3]:
# Add dependencies
import glob
import pandas as pd

In [4]:
# Combine all the csv data into a new csv

clean_data = pd.concat([pd.read_csv(f) for f in glob.glob('citibike_data/*.csv')], ignore_index = True)

In [5]:
# Display results
clean_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [6]:
# Get a count of the data in each column to see if they match
clean_data.count()

tripduration               336802
starttime                  336802
stoptime                   336802
start station id           336802
start station name         336802
start station latitude     336802
start station longitude    336802
end station id             336802
end station name           336802
end station latitude       336802
end station longitude      336802
bikeid                     336802
usertype                   336802
birth year                 336802
gender                     336802
dtype: int64

In [7]:
# 
clean_data.gender[clean_data.gender == 0] = 'unknown'
clean_data.gender[clean_data.gender == 1] = 'male'
clean_data.gender[clean_data.gender == 2] = 'female'
clean_data.head()

C:\Users\Kim\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,female
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,female
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,male
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,unknown
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,female

In [8]:
# Export to csv
clean_data.to_csv('clean_data/cleandata2020.csv', mode = 'w', index=False)

In [11]:
# Import Data
Data_To_Load1 = "citibike_data/JC-202001-citibike-tripdata.csv"

january_data = pd.read_csv(Data_To_Load1)

In [14]:
january_data.max()

tripduration                                 520598
starttime                  2020-01-31 23:48:35.1700
stoptime                   2020-02-01 00:00:36.4060
start station id                               3792
start station name                          York St
start station latitude                      40.7487
start station longitude                    -74.0321
end station id                                 3792
end station name                            York St
end station latitude                        40.7559
end station longitude                      -74.0021
bikeid                                        42370
usertype                                 Subscriber
birth year                                     2002
gender                                            2
dtype: object

In [15]:
january_data['birth year'].min()

1888

In [16]:
january_data['tripduration'].median()

326.0

In [17]:
january_data['birth year'].head()

0    1984
1    1989
2    1989
3    1969
4    1983
Name: birth year, dtype: int64

In [19]:
birthyearsort = january_data.sort_values('birth year', ascending = True)
birthyearsort.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
6682,97,2020-01-09 17:45:17.0690,2020-01-09 17:46:54.3580,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29207,Subscriber,1888,0
11171,82,2020-01-14 07:32:59.8460,2020-01-14 07:34:22.4420,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26177,Subscriber,1888,0
22827,115,2020-01-28 19:19:42.9670,2020-01-28 19:21:38.5720,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29480,Subscriber,1888,0
17155,89,2020-01-22 07:52:17.4500,2020-01-22 07:53:46.8910,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26257,Subscriber,1888,0
7949,105,2020-01-10 19:20:29.7050,2020-01-10 19:22:14.8400,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29592,Subscriber,1888,0

In [21]:
january_data.loc[january_data['birth year'] < 1919]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
2667,141,2020-01-05 09:38:17.6380,2020-01-05 09:40:39.6170,3275,Columbus Drive,40.718355,-74.038914,3639,Harborside,40.719252,-74.034234,29640,Subscriber,1888,0
3193,74,2020-01-06 07:36:38.4470,2020-01-06 07:37:52.7620,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,29463,Subscriber,1888,0
6682,97,2020-01-09 17:45:17.0690,2020-01-09 17:46:54.3580,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29207,Subscriber,1888,0
7949,105,2020-01-10 19:20:29.7050,2020-01-10 19:22:14.8400,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29592,Subscriber,1888,0
11171,82,2020-01-14 07:32:59.8460,2020-01-14 07:34:22.4420,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26177,Subscriber,1888,0
12788,95,2020-01-15 17:47:12.3450,2020-01-15 17:48:48.1690,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29446,Subscriber,1888,0
13255,80,2020-01-16 07:34:13.8290,2020-01-16 07:35:34.4480,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,29548,Subscriber,1888,0
14074,78,2020-01-16 19:33:28.1540,2020-01-16 19:34:46.1840,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29262,Subscriber,1888,0
14904,103,2020-01-17 20:21:52.5510,2020-01-17 20:23:35.9350,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29587,Subscriber,1888,0
17155,89,2020-01-22 07:52:17.4500,2020-01-22 07:53:46.8910,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26257,Subscriber,1888,0
18147,102,2020-01-23 07:47:58.8340,2020-01-23 07:49:41.6230,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26171,Subscriber,1888,0
21789,100,2020-01-27 19:13:42.6940,2020-01-27 19:15:22.9310,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,26278,Subscriber,1888,0
22827,115,2020-01-28 19:19:42.9670,2020-01-28 19:21:38.5720,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29480,Subscriber,1888,0
23768,214,2020-01-29 18:34:59.0040,2020-01-29 18:38:33.8310,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,29197,Subscriber,1888,0

In [22]:
januaryBY = january_data.drop(january_data[january_data['birth year'] < 1919].index)

januaryBY['birth year'].min()

1938

In [23]:
januaryBY['tripduration'].max()

520598

In [24]:
januaryBY.loc[januaryBY['tripduration'] > 15000]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1300,16693,2020-01-03 06:46:45.3900,2020-01-03 11:24:58.6010,3276,Marin Light Rail,40.714584,-74.042817,3214,Essex Light Rail,40.712774,-74.036486,29667,Subscriber,1986,1
3023,132652,2020-01-05 18:49:09.4650,2020-01-07 07:40:01.6080,3195,Sip Ave,40.730897,-74.063913,3186,Grove St PATH,40.719586,-74.043117,29531,Subscriber,1977,2
3053,40062,2020-01-05 19:59:58.7330,2020-01-06 07:07:41.0580,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,26290,Subscriber,1975,2
8722,72633,2020-01-11 14:58:56.3100,2020-01-12 11:09:29.6290,3195,Sip Ave,40.730897,-74.063913,3211,Newark Ave,40.721525,-74.046305,29654,Customer,1995,1
8772,190093,2020-01-11 15:23:33.9060,2020-01-13 20:11:47.3170,3192,Liberty Light Rail,40.711242,-74.055701,3192,Liberty Light Rail,40.711242,-74.055701,29462,Customer,1977,1
8784,61879,2020-01-11 15:28:52.8780,2020-01-12 08:40:12.0120,3639,Harborside,40.719252,-74.034234,3203,Hamilton Park,40.727596,-74.044247,29291,Subscriber,1959,2
8839,24706,2020-01-11 16:14:08.6080,2020-01-11 23:05:54.7500,3276,Marin Light Rail,40.714584,-74.042817,3187,Warren St,40.721124,-74.038051,29583,Customer,1994,1
9324,22822,2020-01-12 09:54:35.9770,2020-01-12 16:14:58.8640,3205,JC Medical Center,40.716540,-74.049638,3639,Harborside,40.719252,-74.034234,26238,Subscriber,1986,2
9588,75091,2020-01-12 13:26:03.3350,2020-01-13 10:17:35.0480,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3681,Grand St,40.715178,-74.037683,29502,Subscriber,1982,2
9682,150034,2020-01-12 14:30:53.2630,2020-01-14 08:11:27.5000,3205,JC Medical Center,40.716540,-74.049638,3205,JC Medical Center,40.716540,-74.049638,26224,Customer,1969,0
10047,68852,2020-01-12 20:19:08.4850,2020-01-13 15:26:41.0380,3193,Lincoln Park,40.724605,-74.078406,3193,Lincoln Park,40.724605,-74.078406,26180,Customer,1993,2
14923,152783,2020-01-17 21:44:00.7060,2020-01-19 16:10:23.9770,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,29513,Customer,1993,1
15740,22501,2020-01-20 08:47:39.9970,2020-01-20 15:02:41.2320,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,29209,Subscriber,1978,2
15761,114081,2020-01-20 09:21:09.1210,2020-01-21 17:02:30.8760,3273,Manila & 1st,40.721651,-74.042884,3192,Liberty Light Rail,40.711242,-74.055701,29608,Customer,1969,0
19072,17572,2020-01-24 01:30:27.6900,2020-01-24 06:23:20.1420,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,29276,Customer,1969,0
19592,520598,2020-01-24 15:10:41.5170,2020-01-30 15:47:20.1520,3280,Astor Place,40.719282,-74.071262,3679,Bergen Ave,40.722104,-74.071455,29596,Customer,1969,0
19886,220912,2020-01-24 18:32:13.5160,2020-01-27 07:54:06.2930,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,29255,Customer,1988,1
19992,76888,2020-01-24 19:57:24.3120,2020-01-25 17:18:53.2100,3199,Newport Pkwy,40.728745,-74.032108,3275,Columbus Drive,40.718355,-74.038914,29461,Customer,1992,2
21370,22184,2020-01-27 11:58:25.6480,2020-01-27 18:08:09.7730,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,26307,Subscriber,1975,2
24396,31018,2020-01-30 10:48:30.7120,2020-01-30 19:25:28.7480,3203,Hamilton Park,40.727596,-74.044247,3276,Marin Light Rail,40.714584,-74.042817,29640,Subscriber,1993,1

In [25]:
januaryClean = januaryBY.drop(januaryBY[januaryBY['tripduration'] > 15000].index)

januaryClean['tripduration'].max()

14984

In [26]:
januaryClean.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,25986.000000,25986.000000,25986.000000,25986.000000,25986.000000,25986.000000,25986.000000,25986.000000,25986.000000,25986.000000
mean,463.273493,3305.614369,40.722576,-74.046603,3305.262141,40.722259,-74.046202,29180.104248,1981.213961,1.200377
std,579.684591,184.042670,0.006671,0.010981,186.661252,0.006523,0.010890,3259.424182,10.083500,0.496811
min,61.000000,3184.000000,40.711130,-74.083639,525.000000,40.709651,-74.083639,26151.000000,1938.000000,0.000000
25%,225.000000,3195.000000,40.718355,-74.050444,3194.000000,40.718355,-74.050389,26303.000000,1976.000000,1.000000
50%,326.000000,3211.000000,40.721525,-74.043845,3211.000000,40.721124,-74.043117,29307.000000,1983.000000,1.000000
75%,501.000000,3276.000000,40.726012,-74.038526,3277.000000,40.726012,-74.038051,29571.000000,1989.000000,1.000000
max,14984.000000,3792.000000,40.748716,-74.032108,3792.000000,40.755942,-74.002116,42370.000000,2002.000000,2.000000

In [27]:
januaryClean['stoptime'].min()

'2020-01-01 00:08:37.0370'

In [28]:
januaryClean['stoptime'].max()

'2020-02-01 00:00:36.4060'

In [29]:
januaryClean['starttime'].min()

'2020-01-01 00:04:50.1920'

In [30]:
januaryClean['starttime'].max()

'2020-01-31 23:48:35.1700'

In [31]:
januaryClean['starttime'] = pd.to_datetime(januaryClean.starttime)
januaryClean.info('starttime')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25986 entries, 0 to 26019
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             25986 non-null  int64
 1   starttime                25986 non-null  datetime64[ns]
 2   stoptime                 25986 non-null  object
 3   start station id         25986 non-null  int64
 4   start station name       25986 non-null  object
 5   start station latitude   25986 non-null  float64
 6   start station longitude  25986 non-null  float64
 7   end station id           25986 non-null  int64
 8   end station name         25986 non-null  object
 9   end station latitude     25986 non-null  float64
 10  end station longitude    25986 non-null  float64
 11  bikeid                   25986 non-null  int64
 12  usertype                 25986 non-null  object
 13  birth year               25986 non-null  int64
 14  gender                   25986 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(4)
memory usage: 3.2+ MB

In [32]:
januaryClean['stoptime'] = pd.to_datetime(januaryClean.stoptime)
januaryClean.info('stoptime')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25986 entries, 0 to 26019
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             25986 non-null  int64
 1   starttime                25986 non-null  datetime64[ns]
 2   stoptime                 25986 non-null  datetime64[ns]
 3   start station id         25986 non-null  int64
 4   start station name       25986 non-null  object
 5   start station latitude   25986 non-null  float64
 6   start station longitude  25986 non-null  float64
 7   end station id           25986 non-null  int64
 8   end station name         25986 non-null  object
 9   end station latitude     25986 non-null  float64
 10  end station longitude    25986 non-null  float64
 11  bikeid                   25986 non-null  int64
 12  usertype                 25986 non-null  object
 13  birth year               25986 non-null  int64
 14  gender                   25986 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 3.2+ MB

In [33]:
januaryClean.gender[januaryClean.gender == 0] = 'unknown'
januaryClean.gender[januaryClean.gender == 1] = 'male'
januaryClean.gender[januaryClean.gender == 2] = 'female'
januaryClean

C:\Users\Kim\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,female
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,female
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,male
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,unknown
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26015,544,2020-01-31 23:29:29.391,2020-01-31 23:38:33.691,3213,Van Vorst Park,40.718489,-74.047727,3194,McGinley Square,40.725340,-74.067622,29659,Subscriber,1989,male
26016,122,2020-01-31 23:30:59.367,2020-01-31 23:33:01.687,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42361,Subscriber,1991,male
26017,201,2020-01-31 23:42:34.846,2020-01-31 23:45:55.878,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42368,Subscriber,1988,male
26018,300,2020-01-31 23:45:00.680,2020-01-31 23:50:00.874,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,42257,Subscriber,1981,female
26019,721,2020-01-31 23:48:35.170,2020-02-01 00:00:36.406,3206,Hilltop,40.731169,-74.057574,3202,Newport PATH,40.727224,-74.033759,29302,Customer,1998,male

In [34]:
from datetime import datetime as dt
dayOfWeek = januaryClean.starttime.dt.day_name()
januaryClean['dayOfWeek'] = dayOfWeek
januaryClean

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,dayOfWeek
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,female,Wednesday
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,female,Wednesday
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,male,Wednesday
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,unknown,Wednesday
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,female,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26015,544,2020-01-31 23:29:29.391,2020-01-31 23:38:33.691,3213,Van Vorst Park,40.718489,-74.047727,3194,McGinley Square,40.725340,-74.067622,29659,Subscriber,1989,male,Friday
26016,122,2020-01-31 23:30:59.367,2020-01-31 23:33:01.687,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42361,Subscriber,1991,male,Friday
26017,201,2020-01-31 23:42:34.846,2020-01-31 23:45:55.878,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42368,Subscriber,1988,male,Friday
26018,300,2020-01-31 23:45:00.680,2020-01-31 23:50:00.874,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,42257,Subscriber,1981,female,Friday
26019,721,2020-01-31 23:48:35.170,2020-02-01 00:00:36.406,3206,Hilltop,40.731169,-74.057574,3202,Newport PATH,40.727224,-74.033759,29302,Customer,1998,male,Friday

In [35]:
#januaryClean.to_csv('Clean_Data/januaryCBClean.csv', mode = 'w', index=False)

In [36]:
# Import Data
Data_To_Load2 = "citibike_data/JC-202003-citibike-tripdata.csv"

march_data = pd.read_csv(Data_To_Load2)

In [37]:
march_data.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,1.771900e+04,17719.000000,17719.000000,17719.000000,17719.000000,17719.000000,17719.000000,17719.000000,17719.000000,17719.000000
mean,1.384512e+03,3307.352051,40.722406,-74.047013,3305.887748,40.722134,-74.046631,42103.189740,1980.739489,1.152379
std,2.611010e+04,183.438917,0.007006,0.011588,183.892897,0.006971,0.011576,1999.092587,10.768536,0.546236
min,6.100000e+01,3184.000000,40.711130,-74.083639,3184.000000,40.709651,-74.083639,14578.000000,1939.000000,0.000000
25%,2.520000e+02,3195.000000,40.717733,-74.050990,3195.000000,40.717733,-74.050656,42213.000000,1972.000000,1.000000
50%,4.200000e+02,3211.000000,40.721525,-74.044247,3211.000000,40.721124,-74.043845,42348.000000,1983.000000,1.000000
75%,8.280000e+02,3276.000000,40.727224,-74.038051,3276.000000,40.726012,-74.038051,42477.000000,1989.000000,1.000000
max,1.930668e+06,3792.000000,40.748716,-74.032108,3792.000000,40.814394,-73.953247,42636.000000,2002.000000,2.000000

In [38]:
march_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17719 entries, 0 to 17718
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             17719 non-null  int64
 1   starttime                17719 non-null  object
 2   stoptime                 17719 non-null  object
 3   start station id         17719 non-null  int64
 4   start station name       17719 non-null  object
 5   start station latitude   17719 non-null  float64
 6   start station longitude  17719 non-null  float64
 7   end station id           17719 non-null  int64
 8   end station name         17719 non-null  object
 9   end station latitude     17719 non-null  float64
 10  end station longitude    17719 non-null  float64
 11  bikeid                   17719 non-null  int64
 12  usertype                 17719 non-null  object
 13  birth year               17719 non-null  int64
 14  gender                   17719 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 2.0+ MB

In [39]:
march_data.shape

(17719, 15)

In [40]:
march_data.gender.value_counts(dropna=False)

1    12021
2     4199
0     1499
Name: gender, dtype: int64

In [41]:
march_data.usertype.value_counts(dropna=False)

Subscriber    15192
Customer       2527
Name: usertype, dtype: int64

In [42]:
march_data.bikeid.value_counts(dropna=False)

42266    75
42166    70
42354    65
42394    64
42230    64
         ..
32588     1
20823     1
21124     1
30501     1
42257     1
Name: bikeid, Length: 539, dtype: int64

In [43]:
march_data.min()

tripduration                                     61
starttime                  2020-03-01 00:14:07.0000
stoptime                   2020-03-01 00:20:36.0880
start station id                               3184
start station name                5 Corners Library
start station latitude                      40.7111
start station longitude                    -74.0836
end station id                                 3184
end station name                  5 Corners Library
end station latitude                        40.7097
end station longitude                      -74.0836
bikeid                                        14578
usertype                                   Customer
birth year                                     1939
gender                                            0
dtype: object

In [44]:
march_data.max()

tripduration                                1930668
starttime                  2020-03-31 23:37:21.1840
stoptime                   2020-04-16 20:34:46.7660
start station id                               3792
start station name                          York St
start station latitude                      40.7487
start station longitude                    -74.0321
end station id                                 3792
end station name                            York St
end station latitude                        40.8144
end station longitude                      -73.9532
bikeid                                        42636
usertype                                 Subscriber
birth year                                     2002
gender                                            2
dtype: object

In [45]:
march_data['birth year'].min()

1939

In [46]:
march_data['tripduration'].median()

420.0

In [47]:
march_data['birth year'].tail()

17714    1994
17715    1991
17716    1986
17717    1986
17718    1965
Name: birth year, dtype: int64

In [51]:
birthyearsort =march_data.sort_values('birth year', ascending = True)
birthyearsort.head(100)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
14629,1577,2020-03-21 13:16:05.9140,2020-03-21 13:42:23.8110,3638,Washington St,40.724294,-74.035483,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42197,Customer,1939,1
14201,69266,2020-03-20 17:15:51.7370,2020-03-21 12:30:18.5370,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42549,Customer,1939,1
4561,267,2020-03-07 11:05:06.3680,2020-03-07 11:09:33.8990,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,42499,Subscriber,1947,2
17304,1091,2020-03-30 10:17:20.5420,2020-03-30 10:35:32.1310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42354,Subscriber,1949,1
6305,402,2020-03-09 12:45:25.5590,2020-03-09 12:52:08.2290,3639,Harborside,40.719252,-74.034234,3267,Morris Canal,40.712419,-74.038526,42457,Subscriber,1949,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4276,692,2020-03-06 16:16:52.7790,2020-03-06 16:28:25.6600,3280,Astor Place,40.719282,-74.071262,3195,Sip Ave,40.730897,-74.063913,42299,Subscriber,1953,2
6224,711,2020-03-09 10:11:22.8630,2020-03-09 10:23:14.3270,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,42489,Subscriber,1953,2
8676,328,2020-03-11 13:17:09.6320,2020-03-11 13:22:38.0490,3209,Brunswick St,40.724176,-74.050656,3275,Columbus Drive,40.718355,-74.038914,42402,Subscriber,1953,1
4649,317,2020-03-07 12:52:38.5940,2020-03-07 12:57:55.7240,3275,Columbus Drive,40.718355,-74.038914,3272,Jersey & 3rd,40.723332,-74.045953,42164,Subscriber,1953,2
3195,362,2020-03-05 08:26:42.9580,2020-03-05 08:32:45.2000,3203,Hamilton Park,40.727596,-74.044247,3275,Columbus Drive,40.718355,-74.038914,42146,Subscriber,1953,2

In [52]:
march_data.loc[march_data['birth year'] < 1919]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []

In [53]:
marchBY = march_data.drop(march_data[march_data['birth year'] < 1919].index)

In [54]:
marchBY['birth year'].min()

1939

In [55]:
marchBY['birth year'].max()

2002

In [56]:
marchBY.loc[marchBY['tripduration'] > 15000]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
551,22825,2020-03-02 06:53:20.0190,2020-03-02 13:13:45.4780,3278,Monmouth and 6th,40.725685,-74.048790,3681,Grand St,40.715178,-74.037683,42267,Subscriber,1979,1
1275,52738,2020-03-02 20:52:47.8590,2020-03-03 11:31:45.9870,3281,Leonard Gordon Park,40.745910,-74.057271,3281,Leonard Gordon Park,40.745910,-74.057271,42153,Subscriber,1972,1
2545,84286,2020-03-04 15:16:16.8380,2020-03-05 14:41:03.2760,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3199,Newport Pkwy,40.728745,-74.032108,42210,Subscriber,2000,1
3216,31825,2020-03-05 08:37:10.3550,2020-03-05 17:27:36.0630,3272,Jersey & 3rd,40.723332,-74.045953,3268,Lafayette Park,40.713464,-74.062859,42388,Subscriber,1987,1
3279,514405,2020-03-05 09:28:18.9110,2020-03-11 09:21:44.6660,3681,Grand St,40.715178,-74.037683,3206,Hilltop,40.731169,-74.057574,42264,Customer,1969,0
4810,82378,2020-03-07 15:57:18.7720,2020-03-08 15:50:17.1720,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,42189,Customer,1969,0
5506,55740,2020-03-08 16:27:09.0550,2020-03-09 07:56:09.9040,3276,Marin Light Rail,40.714584,-74.042817,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42314,Customer,1980,2
5532,59743,2020-03-08 16:39:20.0110,2020-03-09 09:15:03.8420,3277,Communipaw & Berry Lane,40.714358,-74.066611,3192,Liberty Light Rail,40.711242,-74.055701,42373,Customer,1979,1
6416,15652,2020-03-09 15:13:10.2490,2020-03-09 19:34:02.8310,3272,Jersey & 3rd,40.723332,-74.045953,3203,Hamilton Park,40.727596,-74.044247,42128,Subscriber,1971,2
7442,36095,2020-03-10 09:22:16.7670,2020-03-10 19:23:52.5110,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,42204,Subscriber,1973,1
8577,15611,2020-03-11 11:14:21.1100,2020-03-11 15:34:32.4750,3206,Hilltop,40.731169,-74.057574,3649,W 129 St & Convent Ave,40.814394,-73.953247,42169,Customer,1969,0
8578,15600,2020-03-11 11:14:47.4390,2020-03-11 15:34:48.2290,3206,Hilltop,40.731169,-74.057574,3649,W 129 St & Convent Ave,40.814394,-73.953247,42214,Customer,1969,0
8579,15568,2020-03-11 11:15:13.8090,2020-03-11 15:34:42.1230,3206,Hilltop,40.731169,-74.057574,3649,W 129 St & Convent Ave,40.814394,-73.953247,42418,Customer,1969,0
9828,94205,2020-03-12 16:58:08.4910,2020-03-13 19:08:14.2180,3198,Heights Elevator,40.748716,-74.040443,3195,Sip Ave,40.730897,-74.063913,42576,Customer,1958,1
10105,55102,2020-03-12 20:10:26.0230,2020-03-13 11:28:48.8000,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,42577,Customer,1980,2
11219,83528,2020-03-14 14:39:21.0130,2020-03-15 13:51:29.1660,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3270,Jersey & 6th St,40.725289,-74.045572,42354,Customer,1969,0
11350,21421,2020-03-14 16:22:56.4970,2020-03-14 22:19:57.9160,3186,Grove St PATH,40.719586,-74.043117,3186,Grove St PATH,40.719586,-74.043117,42446,Subscriber,1990,1
11392,17046,2020-03-14 16:51:57.1460,2020-03-14 21:36:03.9730,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42278,Customer,1969,0
11393,17081,2020-03-14 16:51:59.5200,2020-03-14 21:36:41.1790,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42336,Customer,1969,0
11762,18397,2020-03-15 13:17:10.7090,2020-03-15 18:23:48.7080,3202,Newport PATH,40.727224,-74.033759,3639,Harborside,40.719252,-74.034234,42121,Customer,1990,2
11899,15537,2020-03-15 15:22:29.1110,2020-03-15 19:41:26.6970,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3639,Harborside,40.719252,-74.034234,42574,Customer,1969,0
12380,16351,2020-03-16 12:33:01.1390,2020-03-16 17:05:32.7370,3678,Fairmount Ave,40.725726,-74.071959,3191,Union St,40.718211,-74.083639,42195,Customer,1969,0
12851,73449,2020-03-17 17:00:24.3160,2020-03-18 13:24:33.3370,3267,Morris Canal,40.712419,-74.038526,3276,Marin Light Rail,40.714584,-74.042817,42550,Customer,1969,0
13847,1631164,2020-03-19 19:27:49.6740,2020-04-07 16:33:54.3990,3211,Newark Ave,40.721525,-74.046305,3426,JCBS Depot,40.709651,-74.068601,42535,Customer,1969,0
13889,25201,2020-03-20 01:59:36.4290,2020-03-20 08:59:38.3820,3199,Newport Pkwy,40.728745,-74.032108,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,42450,Subscriber,1995,2
14031,104021,2020-03-20 13:55:18.8250,2020-03-21 18:49:00.7310,3195,Sip Ave,40.730897,-74.063913,3195,Sip Ave,40.730897,-74.063913,42352,Customer,1969,0
14201,69266,2020-03-20 17:15:51.7370,2020-03-21 12:30:18.5370,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42549,Customer,1939,1
14407,301778,2020-03-20 19:36:20.2320,2020-03-24 07:25:59.2010,3678,Fairmount Ave,40.725726,-74.071959,3186,Grove St PATH,40.719586,-74.043117,42385,Customer,1969,0
14459,148931,2020-03-20 22:00:20.6330,2020-03-22 15:22:32.3660,3185,City Hall,40.717733,-74.043845,3195,Sip Ave,40.730897,-74.063913,42574,Customer,1969,0
14481,37362,2020-03-21 01:45:35.0340,2020-03-21 12:08:17.0660,3694,Jackson Square,40.711130,-74.078900,3694,Jackson Square,40.711130,-74.078900,42466,Customer,2000,1
14566,43972,2020-03-21 11:41:12.4230,2020-03-21 23:54:04.8920,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,42521,Customer,1995,1
14618,263884,2020-03-21 13:13:47.5290,2020-03-24 14:31:52.2500,3678,Fairmount Ave,40.725726,-74.071959,3193,Lincoln Park,40.724605,-74.078406,42409,Customer,1969,0
15116,15955,2020-03-22 12:16:35.0930,2020-03-22 16:42:30.4020,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42333,Subscriber,1996,2
15295,23576,2020-03-22 16:49:21.5470,2020-03-22 23:22:18.2700,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,42521,Customer,1992,2
15899,1930668,2020-03-25 12:16:58.5080,2020-04-16 20:34:46.7660,3678,Fairmount Ave,40.725726,-74.071959,3193,Lincoln Park,40.724605,-74.078406,42197,Customer,1969,0
16170,1796894,2020-03-26 13:41:58.2600,2020-04-16 08:50:12.3290,3213,Van Vorst Park,40.718489,-74.047727,3184,Paulus Hook,40.714145,-74.033552,38355,Customer,1969,0
16189,71210,2020-03-26 14:13:17.2590,2020-03-27 10:00:07.2890,3192,Liberty Light Rail,40.711242,-74.055701,3192,Liberty Light Rail,40.711242,-74.055701,42459,Customer,1984,1
16245,784008,2020-03-26 15:52:43.1970,2020-04-04 17:39:31.9370,3639,Harborside,40.719252,-74.034234,3639,Harborside,40.719252,-74.034234,42341,Subscriber,1984,1
16333,18958,2020-03-26 18:23:46.1800,2020-03-26 23:39:44.8030,3192,Liberty Light Rail,40.711242,-74.055701,3192,Liberty Light Rail,40.711242,-74.055701,42483,Customer,1969,0
16470,266401,2020-03-27 11:05:57.0870,2020-03-30 13:05:58.8090,3214,Essex Light Rail,40.712774,-74.036486,3187,Warren St,40.721124,-74.038051,42285,Customer,1986,1
17063,72192,2020-03-28 18:27:49.4810,2020-03-29 14:31:02.1840,3483,Montgomery St,40.719420,-74.050990,3203,Hamilton Park,40.727596,-74.044247,40910,Customer,1969,0
17142,19452,2020-03-29 13:42:05.4170,2020-03-29 19:06:17.4750,3213,Van Vorst Park,40.718489,-74.047727,3198,Heights Elevator,40.748716,-74.040443,42282,Customer,1992,1
17215,373855,2020-03-29 17:15:19.6250,2020-04-03 01:06:14.8740,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42488,Customer,1969,0
17252,150292,2020-03-30 00:11:07.4970,2020-03-31 17:56:00.2750,3678,Fairmount Ave,40.725726,-74.071959,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42553,Customer,1969,0
17466,1020814,2020-03-30 19:42:58.1210,2020-04-11 15:16:32.5420,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42421,Customer,1969,0
17480,67364,2020-03-30 23:09:40.1200,2020-03-31 17:52:24.3900,3481,York St,40.716490,-74.041050,3280,Astor Place,40.719282,-74.071262,42174,Customer,1969,0
17534,25854,2020-03-31 12:00:19.0120,2020-03-31 19:11:13.9540,3679,Bergen Ave,40.722104,-74.071455,3195,Sip Ave,40.730897,-74.063913,42494,Subscriber,1990,1
17541,197982,2020-03-31 12:24:02.6670,2020-04-02 19:23:45.5370,3187,Warren St,40.721124,-74.038051,3207,Oakland Ave,40.737604,-74.052478,42503,Customer,1969,0

In [57]:
marchClean = marchBY.drop(marchBY[marchBY['tripduration'] > 15000].index)
marchClean.shape

(17671, 15)

In [58]:
marchClean['tripduration'].max()

14998

In [59]:
marchClean.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,17671.000000,17671.000000,17671.000000,17671.000000,17671.000000,17671.000000,17671.000000,17671.000000,17671.000000,17671.000000
mean,772.822081,3307.107974,40.722404,-74.047005,3305.747383,40.722115,-74.046633,42102.771830,1980.752985,1.153811
std,1029.621108,183.210031,0.007000,0.011581,183.733738,0.006859,0.011499,2001.527725,10.762331,0.544975
min,61.000000,3184.000000,40.711130,-74.083639,3184.000000,40.711130,-74.083639,14578.000000,1939.000000,0.000000
25%,251.500000,3195.000000,40.717733,-74.050990,3195.000000,40.717733,-74.050656,42213.000000,1972.000000,1.000000
50%,419.000000,3211.000000,40.721525,-74.044247,3211.000000,40.721124,-74.043845,42348.000000,1983.000000,1.000000
75%,821.000000,3276.000000,40.727224,-74.038051,3276.000000,40.726012,-74.038051,42477.000000,1989.000000,1.000000
max,14998.000000,3792.000000,40.748716,-74.032108,3792.000000,40.748716,-74.011296,42636.000000,2002.000000,2.000000

In [60]:
marchClean['starttime'] = pd.to_datetime(marchClean.starttime)
marchClean.info('starttime')
marchClean['stoptime'] = pd.to_datetime(marchClean.stoptime)
marchClean.info('stoptime')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17671 entries, 0 to 17718
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             17671 non-null  int64
 1   starttime                17671 non-null  datetime64[ns]
 2   stoptime                 17671 non-null  object
 3   start station id         17671 non-null  int64
 4   start station name       17671 non-null  object
 5   start station latitude   17671 non-null  float64
 6   start station longitude  17671 non-null  float64
 7   end station id           17671 non-null  int64
 8   end station name         17671 non-null  object
 9   end station latitude     17671 non-null  float64
 10  end station longitude    17671 non-null  float64
 11  bikeid                   17671 non-null  int64
 12  usertype                 17671 non-null  object
 13  birth year               17671 non-null  int64
 14  gender                   17671 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(4)
memory usage: 2.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 17671 entries, 0 to 17718
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             17671 non-null  int64
 1   starttime                17671 non-null  datetime64[ns]
 2   stoptime                 17671 non-null  datetime64[ns]
 3   start station id         17671 non-null  int64
 4   start station name       17671 non-null  object
 5   start station latitude   17671 non-null  float64
 6   start station longitude  17671 non-null  float64
 7   end station id           17671 non-null  int64
 8   end station name         17671 non-null  object
 9   end station latitude     17671 non-null  float64
 10  end station longitude    17671 non-null  float64
 11  bikeid                   17671 non-null  int64
 12  usertype                 17671 non-null  object
 13  birth year               17671 non-null  int64
 14  gender                   17671 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 2.2+ MB

In [61]:
marchClean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17671 entries, 0 to 17718
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             17671 non-null  int64
 1   starttime                17671 non-null  datetime64[ns]
 2   stoptime                 17671 non-null  datetime64[ns]
 3   start station id         17671 non-null  int64
 4   start station name       17671 non-null  object
 5   start station latitude   17671 non-null  float64
 6   start station longitude  17671 non-null  float64
 7   end station id           17671 non-null  int64
 8   end station name         17671 non-null  object
 9   end station latitude     17671 non-null  float64
 10  end station longitude    17671 non-null  float64
 11  bikeid                   17671 non-null  int64
 12  usertype                 17671 non-null  object
 13  birth year               17671 non-null  int64
 14  gender                   17671 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 2.2+ MB

In [62]:
marchClean.gender[marchClean.gender == 0] = 'unknown'
marchClean.gender[marchClean.gender == 1] = 'male'
marchClean.gender[marchClean.gender == 2] = 'female'
marchClean

C:\Users\Kim\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,389,2020-03-01 00:14:07.000,2020-03-01 00:20:36.088,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,male
1,242,2020-03-01 00:48:06.439,2020-03-01 00:52:08.987,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,male
2,124,2020-03-01 01:08:46.488,2020-03-01 01:10:51.278,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,unknown
3,104,2020-03-01 01:22:35.479,2020-03-01 01:24:20.247,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,male
4,228,2020-03-01 01:39:20.268,2020-03-01 01:43:09.138,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17714,296,2020-03-31 22:50:39.041,2020-03-31 22:55:35.598,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,42145,Subscriber,1994,male
17715,147,2020-03-31 23:09:15.969,2020-03-31 23:11:43.531,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,42110,Subscriber,1991,male
17716,364,2020-03-31 23:17:02.024,2020-03-31 23:23:06.820,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42550,Subscriber,1986,male
17717,1217,2020-03-31 23:36:10.643,2020-03-31 23:56:27.812,3267,Morris Canal,40.712419,-74.038526,3276,Marin Light Rail,40.714584,-74.042817,42115,Subscriber,1986,male
17718,846,2020-03-31 23:37:21.184,2020-03-31 23:51:28.122,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,42362,Subscriber,1965,male

In [63]:
dayOfWeek = marchClean.starttime.dt.day_name()
marchClean['dayOfWeek'] = dayOfWeek
marchClean

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,dayOfWeek
0,389,2020-03-01 00:14:07.000,2020-03-01 00:20:36.088,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,male,Sunday
1,242,2020-03-01 00:48:06.439,2020-03-01 00:52:08.987,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,male,Sunday
2,124,2020-03-01 01:08:46.488,2020-03-01 01:10:51.278,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,unknown,Sunday
3,104,2020-03-01 01:22:35.479,2020-03-01 01:24:20.247,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,male,Sunday
4,228,2020-03-01 01:39:20.268,2020-03-01 01:43:09.138,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,male,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17714,296,2020-03-31 22:50:39.041,2020-03-31 22:55:35.598,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,42145,Subscriber,1994,male,Tuesday
17715,147,2020-03-31 23:09:15.969,2020-03-31 23:11:43.531,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,42110,Subscriber,1991,male,Tuesday
17716,364,2020-03-31 23:17:02.024,2020-03-31 23:23:06.820,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42550,Subscriber,1986,male,Tuesday
17717,1217,2020-03-31 23:36:10.643,2020-03-31 23:56:27.812,3267,Morris Canal,40.712419,-74.038526,3276,Marin Light Rail,40.714584,-74.042817,42115,Subscriber,1986,male,Tuesday
17718,846,2020-03-31 23:37:21.184,2020-03-31 23:51:28.122,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,42362,Subscriber,1965,male,Tuesday

In [64]:
marchClean['starttime'].max()

Timestamp('2020-03-31 23:37:21.184000')

In [65]:
marchClean['starttime'].min()

Timestamp('2020-03-01 00:14:07')

In [66]:
marchClean['stoptime'].max()

Timestamp('2020-03-31 23:56:27.812000')

In [67]:
marchClean['stoptime'].min()

Timestamp('2020-03-01 00:20:36.088000')

In [ ]:
#marchClean.to_csv('Clean_Data/marchCBClean.csv', mode = 'w', index=False)

In [ ]:

# Import Data
Data_To_Load2 = "Raw_Data/201909-citibike-tripdata.csv"

In [ ]:
sept_clean = pd.read_csv(Data_To_Load2)